{% extends 'diary/layout.html' %}
{% load static %}

{% block title %}Diary - View{% endblock title %}

{% block body %}
    <div class="container-fluid">
        {% for year, months in gamelist.items %}
            <h1 class="ml-5">{{year}}</h1>
            <table class="table table-borderless rounded shadow-lg">
                {% for month, games in months.items %}
                    <tr>
                        <td class="month"><h2 class="titletext">
                            {% if month == 1 %}
                                January
                            {% elif month == 2 %}
                                February
                            {% elif month == 3 %}
                                March
                            {% elif month == 4 %}
                                April
                            {% elif month == 5 %}
                                May
                            {% elif month == 6 %}
                                June
                            {% elif month == 7 %}
                                July
                            {% elif month == 8 %}
                                August
                            {% elif month == 9 %}
                                September
                            {% elif month == 10 %}
                                October
                            {% elif month == 11 %}
                                November
                            {% elif month == 12 %}
                                December
                            {% endif %}
                        </h2></td>
                        <td class="content border">
                            <h3 class="titletext">Started</h3>
                            <div class="d-flex flex-wrap">
                                {% for entry in games.started %}
                                    <div class="card card-block shadow mx-1">
                                        <a href="/entry/{{entry.id}}"><img class="card-img-top" src="{{entry.game.cover}}" alt="Game cover"></a>
                                        <a href="/entry/{{entry.id}}" class="card-text">{{entry.game.name}}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <ul class="viewlist">
                                {% for entry in games.started %}
                                    <li class="listitem"><a href="/entry/{{entry.id}}">{{entry.game.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="content border">
                            <h3 class="titletext">Finished</h3>
                            <div class="d-flex flex-wrap">
                                {% for entry in games.finished %}
                                    <div class="card card-block shadow mx-1">
                                        <a href="/entry/{{entry.id}}"><img class="card-img-top" src="{{entry.game.cover}}" alt="Game cover"></a>
                                        <a href="/entry/{{entry.id}}" class="card-text">{{entry.game.name}}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <ul class="viewlist">
                                {% for entry in games.finished %}
                                    <li class="listitem"><a href="/entry/{{entry.id}}">{{entry.game.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="content border">
                            <h3 class="titletext">Playing</h3>
                            <div class="d-flex flex-wrap">
                                {% for entry in games.continued %}
                                    <div class="card card-block shadow mx-1">
                                        <a href="/entry/{{entry.id}}"><img class="card-img-top" src="{{entry.game.cover}}" alt="Game cover"></a>
                                        <a href="/entry/{{entry.id}}" class="card-text">{{entry.game.name}}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <ul class="viewlist">
                                {% for entry in games.continued %}
                                    <li class="listitem"><a href="/entry/{{entry.id}}">{{entry.game.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    <a href="{% url 'index' %}">
        <div class="backbutton">
            <img src="{% static '/diary/home.svg' %}" style="width: 80%; margin-top: 5%;">
        </div>
    </a>
{% endblock body %}