.indexdiv {
    margin-top: 0%;
    margin-right: 100px;
    margin-left: 100px;
    @media (max-width: 990px) {
        margin-right: 0px;
        margin-left: 0px;
        width: 170px;
    }
    transform: scale(0.8);
    transition: 0.3s
}

.indexdiv:hover {
    transform: scale(1);
}

.indexbutton {
    border-radius: 25%;
    animation-name: size;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.indexcard {
    @media (max-width: 575px) {
        width: 100px;
    }
}

.cardbutton {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.cardbox {
    width: 60px;
    @media (max-width: 990px) {
        width: 30px;
    }
}

table {
    .month {
        width: 10%; color: orange;
    }
    .content {
        width: 30%;
        border: 3px solid black;
        .viewlist {
            margin-left: 10px;
            padding: 0;
            @media (min-width: 1100px) {
                display: none;
            }
        }
    }
    @media (max-width: 1100px) {
        .content {
            .card {
                display: none;
            }
        }
        .titletext {
            font-size: small;
        }
        .listitem {
            font-size: x-small;
            margin-bottom: 10px;
        }
    }
    .card-block {
        width: 120px
    }
    .card-text {
        text-align: center
    }
}

.backbutton {
    text-align: center;
    position: fixed;
    border-radius: 50%;
    background-color: #007BFF;
    bottom: 20px;
    left: 50px;
    height: 100px;
    width: 100px;
    @media (max-width: 990px) {
        left: 10px;
        bottom: 10px;
        height: 70px;
        width: 70px;
    }
}

.searchbar {
    width: 75%;
    height: 100px;
    border-radius: 100px;
    display: block;
    font-size: 4rem;
    padding-left: 50px;
    @media (max-width: 990px) {
        height: 50px;
        font-size: 2rem;
        padding-left: 20px;
    }
}

.searchbutton {
    width: 150px;
    height: 100px;
    border-radius: 100px;
    font-size: 3.3rem;
    @media (max-width: 990px) {
        height: 50px;
        font-size: 1.4rem;
        width: 50px;
    }
}

.entrybutton {
    margin-right: 10px; 
    width: 70px;
    margin-bottom: 20px;
}

#resultbox {
    padding-left: 100px;
    @media (max-width: 990px) {
        padding-left: 20px;
    }
    .card {
        width: 300px;
        margin-left: 50px;
        margin-right: 50px;
        @media (max-width: 990px) {
            width: 150px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .card-text {
            text-align: center
        }
    }
}

#gamename {
    font-size: 4rem;
}

.reviewbox {
    margin-top: 160px;
    @media (max-width: 768px) {
        margin-top: 20px;
    }
}